@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');


.primary, .btn-primary {
    background-color: #0082BC;
    color: #fff;
    border: #fff;
}

.primary, .btn-primary:hover {
    background-color: #0082BC;
    color: #fff;
    border: #fff;
}

.btn-new {
    background-color: #00618C;
    color: #fff;
    border: #fff;
}

.btn-new:hover {
    background-color: #00618C;
    color: #fff;
    border: #fff;
}

html {
    scroll-behavior: smooth;
}

li, a, p, label {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: 121212;
    text-decoration: none;
    line-height: 1.8;
}

.smalllh {
    line-height: 1.4;
}

.small {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 0.8em;
    color: 121212;
    text-decoration: none;
    line-height: 1.8;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3em;
    line-height: 1.5;
    color: 121212;
    text-decoration: none;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.5;
    color: 121212;
    text-decoration: none;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.5;
    color: 121212;
    text-decoration: none;
}

.heroBg {
    background-color: #0082BC;
}

.heroBg2{
    background-color: #0082BC;
}
.img-mitigate {
    max-width: 400px;
    max-height: 400px;
}

.img-mitigate-2 {
    max-width: 180px;
    max-height: 180px;
}

.navbar-brand {
    max-width: 40px;
    max-height: 100px;
}
.navbar-nav > li {
    padding-right: 20px;
    padding-left: 20px;
}
